@model Initilal_YV_Assesment2.Models.MemberDetailsViewModel

@{
    ViewBag.Title = "MemberDetails";
}

<style>
    body {
        background-color: #dcdcdc;
    }
</style>

<div class="container-fluid">
    <div>
        <h2>Member's Details</h2>
        <hr />
        <!-- USER INFO TABLE -->
        <table class="table">
            <thead>
                <tr>
                    <th>User name</th>
                    <th>First Name</th>
                    <th>Second Name</th>
                    <th>Date Registered</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Suspension Status</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>@Model.User.UserName</td>
                    <td>@Model.User.FirstName</td>
                    <td>@Model.User.SecondName</td>
                    <td>@Model.User.RegisteredAt.ToShortDateString()</td>
                    <td>@Model.User.Email</td>
                    <td>@Model.User.PhoneNumber</td>
                    <td>
                        @if (Model.User.IsSuspended)
                        {
                            <span class="text-danger">
                                Suspended until @Model.User.SuspendedUntil
                            </span>
                        }
                        else
                        {
                            <span class="text-success">Active</span>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- ACTION BUTTONS -->
    <div class="text-end mb-4">

        @if (Model.User.IsSuspended)
        {
            <div class="alert alert-warning">
                <strong>User is suspended</strong><br />
                Suspension until:
                @Model.User.SuspendedUntil
            </div>
        }
        else
        {
            using (Html.BeginForm("SuspendUser", "Admin", FormMethod.Post))
            {
                @Html.Hidden("userId", Model.User.Id)

                <button type="submit"
                        class="btn btn-danger mb-3"
                        onclick="return confirm('Are you sure you want to suspend user for 30 days?');">
                    Suspend User for 30 days
                </button>
            }
            using (Html.BeginForm("PromoteToStaff", "Admin", FormMethod.Post))
            {
                @Html.Hidden("userId", Model.User.Id)

                <button class="btn btn-danger">
                    Promote User to Staff
                </button>
            }
        }


    </div>

    <!--Here comments left by user displays-->
    <hr />

    <h4>Comments left by User:</h4>

    <table class="table">
        <thead>
            <tr>
                <th>Comment ID</th>
                <th>Content</th>
                <th>Date Posted</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var comment in Model.Comments)
            {
                <tr>
                    <td>@comment.CommentId</td>

                    <td style="max-width:400px">
                        @comment.CommentText
                    </td>

                    <td>@comment.DatePosted.ToShortDateString()</td>

                    <td>
                        @using (Html.BeginForm("DeleteComment", "Admin", new { id = comment.CommentId }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <button type="submit"
                                    class="btn btn-danger btn-sm"
                                    onclick="return confirm('Are you sure you want to permanently delete this comment?');">
                                Delete Comment
                            </button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <p>
        @Html.ActionLink("Back to List", "ViewAllUsers")
    </p>
</div>