<style>
    .bg-custom {
        background-color: #dcdcdc;
    }
</style>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="bg-custom">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
            <div class="container">

                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li>@Html.ActionLink("Blog", "Index", "Blog", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Contact Us", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        @if (Request.IsAuthenticated)
                        {
                            if (User.IsInRole("Staff") || User.IsInRole("Admin"))
                            {
                                <li>@Html.ActionLink("Staff Dashboard", "Dashboard", "Staff", new { area = "" }, new { @class = "nav-link" })</li>
                            }
                            if (User.IsInRole("Admin"))
                            {
                                <li>@Html.ActionLink("Admin Dashboard", "Index", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                            }

                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <div class="text-center mt-5">
                    <img src="~/images/logo.png" alt="Company Logo"
                         style="width:150px; border-radius:30px;" />
                </div>
                <p>&copy; @DateTime.Now.Year - Mefisto Theatre Company</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
